h1 {
    color: black;
    text-align: left;
    padding-top: 5px;
    font-size: 1.5rem;
}

.min_title {
    text-align: left;
    font-weight: bold;
}

td {
    text-align: center;
}

th {
    text-align: center;
}

select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
}

.left_content {
    display: flex;
    align-items: right;
}

.navbar {
    min-height: 80px;
}

.navbar-brand {
    font-size: 20px;
}

li.borderless { border-top: 0 none; }