<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} {% endblock %} Citation Analysis</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37256645-4"></script>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/queue.v1.min.js"></script>
    <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        $.get("http://173.212.194.23:5000/getGraphNodes", function (gdata) {
            $.get("http://173.212.194.23:5000/getCommunities", function (communities) {
                graphChart(JSON.parse(gdata), JSON.parse(communities), {{ resId }})
            });
        });

        function updateAll() {
            $.get("http://173.212.194.23:5000/getGraphNodes", function (gdata) {
                $.get("http://173.212.194.23:5000/getCommunities", function (communities) {
                    graphChart(JSON.parse(gdata), JSON.parse(communities), 1)
                });
            });
        }

        function updateResouloution1() {
            $.get("http://173.212.194.23:5000/getGraphNodes", function (gdata) {
                $.get("http://173.212.194.23:5000/getCommunities", function (communities) {
                    graphChart(JSON.parse(gdata), JSON.parse(communities), 2)
                });
            });
        }

        function updateResouloution2() {
            $.get("http://173.212.194.23:5000/getGraphNodes", function (gdata) {
                $.get("http://173.212.194.23:5000/getCommunities", function (communities) {
                    graphChart(JSON.parse(gdata), JSON.parse(communities), 3)
                });
            });
        }

        function updateNodes(value, communities_total) {
            $.get("http://173.212.194.23:5000/getGraphNodes", function (gdata) {
                $.get("http://173.212.194.23:5000/getCommunities", function (communities) {
                    filter(value, JSON.parse(gdata), JSON.parse(communities), communities_total)
                });
            });
        };

    </script>
    <style>

        path.link {
            fill: none;
            stroke: #666;
            stroke-width: 1.5px;
        }

        circle {
            fill: #ccc;
            stroke: #fff;
            stroke: black;
            stroke-width: 1.5px;
        }

        text {
            fill: #000;
            font: 10px sans-serif;
            pointer-events: none;
        }

        label {
            font -weight: bold;
            fill: #000;
        }
    </style>
</head>
<body style="background: #f5f7fa">
<nav class="navbar navbar-expand-lg navbar-light container col-md-10" style="background-color: rgba(0, 0, 0, 0.05)">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">Citation Analysis</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container container-fluid p-0 col-md-10">
    <div style="background: white">
        {% block content %} {% endblock %}
    </div>
    <div style="background-color: rgba(0, 0, 0, 0.05)">
        {% extends "footer.html" %}
    </div>

</div>

</body>
</html>