{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row" style="padding: 10px">
            <div class="col-sm-2">
                <div class="row">
                    <h2 class="grid-title"><i class="fa fa-filter"></i> Filters</h2>
                </div>
                <hr>
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-8">
                        <h2 class="grid-title"><i class="fa fa-filter"></i>ARXIV Dataset</h2>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group float-right">
                            <div class="col-xs-4">
                                <input class="form-control" id="ex3" type="text">
                            </div>
                            <button class="btn btn-primary" type="button">Search</button>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <!-- BEGIN FILTERS -->
                <div class="col-md-12">
                    <!-- BEGIN FILTER BY CATEGORY -->
                    <h5>Louvian Resolution:</h5>
                    <form action="/" method="POST">
                        <div class="form-check">

                            <input class="form-check-input" type="radio" name="resoloution" id="resoloution"
                                   value="3"
                                    {% if resId ==1 %} checked {% endif %}>
                            <label class="form-check-label" for="flexRadioDefault1">
                                1.0
                            </label>

                        </div>

                        <div class="form-check">

                            <input class="form-check-input" type="radio" name="resoloution" id="resoloution"
                                   value="6" {% if resId ==2 %} checked {% endif %}>
                            <label class="form-check-label" for="flexRadioDefault1">
                                0.8
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="resoloution" id="resoloution"
                                   value="9" {% if resId ==3 %} checked {% endif %}>
                            <label class="form-check-label" for="flexRadioDefault2">
                                0.5
                            </label>
                        </div>

                        <div class="col-sm">
                            <button style="margin-top: 28px" class="btn btn-primary" type="submit">Filter</button>
                        </div>
                    </form>
                    <br>
                    <h5>Community:</h5>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                               checked onclick="updateAll()">
                        <label class="form-check-label" for="flexRadioDefault1">
                            All
                        </label>
                    </div>

                    {% for comm in comm_array %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                                   onclick="updateNodes({{ comm - 1 }}, {{ communities_total }})">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Community {{ comm }}
                            </label>
                        </div>
                    {% endfor %}

                    <!-- END FILTER BY CATEGORY -->
                    <div class="padding"></div>


                    <div class="padding"></div>
                    <br>

                </div>
                <!-- END FILTERS -->
            </div>
            <div class="col-sm-7">
                <div id="graphChart"></div>
            </div>
            <div class="col-sm-3">
                <div class="row border-success">
                    <h5 class="card-title">Topic : Artificial Intelligence</h5>
                    <p class="card-text">Weight: 432</p>
                    <p class="card-text">AI is s the simulation of human intelligence processes by machines, especially
                        computer systems</p>
                </div>
                <br>
                <div class="row border-success">
                    <h5 class="card-title">Top 5 Papers</h5>
                    <p class="card-text">Based on citation count</p>
                    <ul class="list-group">
                        <li class="list-group-item border-0">1. <a>Dynamic Routing Between Capsules</a></li>
                        <li class="list-group-item border-0 border-top-0 border-right-0 border-bottom-0">2. Attention Is
                            All You Need
                        </li>
                        <li class="list-group-item border-0 border-right-0 border-top-0  border-bottom-0">3. Language
                            Models are Few-Shot Learners
                        </li>
                        <li class="list-group-item border-0 border-bottom-0">4. Reformer: The Efficient Transformer.
                        </li>
                        <li class="list-group-item border-0 border-bottom-0">5. Reformer: The Efficient Transformer.
                        </li>
                    </ul>


                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#data').DataTable({
                columns: [
                    null,
                    {searchable: true},
                    {orderable: true, searchable: true},
                    {orderable: true, searchable: true},
                    null],
            });
        });
    </script>
{% endblock %}
